
.profile {
    margin-top: 10rem;
    background-color: #f0f2f5;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Sacramento", cursive;
  }

  .greetings {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
  }
  .logOut {
    text-align: center;
    padding: 1rem 5rem;
  }