.header{
    font-family: "Sacramento", cursive;
    padding: 1rem 2rem;
    border-bottom: 1px solid rgb(230, 227, 227);
  }
  .logo {
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 2px;
    color: black;
  }
  .logo:hover {
    color: black;
  }
  .socials {
    justify-content: flex-end;
  }
  .socials > a {
    padding-right: 1rem;
  }
  .socials > a > img {
    cursor: pointer;
    width: 20px;
  }
  .hamburger {
    cursor: pointer;
    width: 30px;
  }
  .header2 {
      margin-top: 5rem;
  }
  .nav > li {
    font-family: "Sacramento", cursive;
      font-size: 1.25rem;
      font-weight: 400;
      cursor: pointer;
      padding-bottom: 2px;
      margin-bottom: 5px;
      transition: all 0.4s ease;
  }
  .nav > li:hover {
    letter-spacing: 5px;
    text-decoration: underline;
}

  @media only screen and (max-width: 992px) {
    .nav {
        flex-direction: column;
    }
    .nav > li:hover {
        margin-left: 1.5rem;
    }
}
